<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <title>Spyglass: AI-powered search engine for online communities</title>

    <link rel="short icon" type="image/x-icon"  href="{{ get_url(path='img/favicon.png') }}" />
    <link rel="alternate icon" type="image/png" href="{{ get_url(path='img/favicon.png') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='img/favicon.svg') }}" />

    <link rel="stylesheet" href="{{ get_url(path='css/styles.css') }}" />
    <script src="{{ get_url(path='js/script.js') }}"></script>
    <script defer data-domain="spyglass.fyi" src="https://plausible.io/js/script.js"></script>
  </head>

  <body class="flex flex-col h-screen w-full bg-secondary place-content-center py-8 text-base-200">
    <div class="hero pt-32">
      <div class="hero-content text-center flex flex-col">
        <div class="max-w-md flex flex-col items-center gap-6">
          <img src="{{ get_url(path='img/spyglass-logo.svg') }}" alt="Logo" class="h-16" />
          <p class="text-sm">
            Opinionated search & language model tools.
          </p>
          <p>
            <a href="https://github.com/spyglass-search/spyglass">
              <img src="https://img.shields.io/github/stars/spyglass-search/spyglass?style=social" />
            </a>
          </p>
          <ul class="items-center flex flex-row text-sm gap-6">
            <li class="border p-2 rounded">
              <a href="https://cloud.spyglass.fyi" class="link link-accent" target="_blank">
                Spyglass Cloud
              </a>
              <div class="text-xs text-gray-400">
                Structured language model APIs
              </div>
            </li>
            <li class="border p-2 rounded">
              <a href="https://github.com/spyglass-search/spyglass" class="link link-accent" target="_blank">
                Personal Search
              </a>
              <div class="text-xs text-gray-400">
                Open-source desktop + cloud search app
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-xs bg-secondary items-center mt-auto gap-2">
      <div class="flex flex-row gap-4">
        <a href="/privacy" class="link link-accent">Privacy Policy</a>
        <a href="/tos" class="link link-accent">Terms of Service</a>
        <a href="mailto:founders@spyglass.fyi" class="link link-accent">Contact Us</a>
      </div>
      <div class="font-montserrat">
        &copy; 2023 Spyglass Search Inc. All rights reserved
      </div>
    </div>
  </body>
</html>
