<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <title>Spyglass: AI-powered search engine for online communities</title>

    <link rel="short icon" type="image/x-icon"  href="{{ get_url(path='img/favicon.png') }}" />
    <link rel="alternate icon" type="image/png" href="{{ get_url(path='img/favicon.png') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='img/favicon.svg') }}" />

    <link rel="stylesheet" href="{{ get_url(path='css/styles.css') }}" />
    <script src="{{ get_url(path='js/script.js') }}"></script>
    <script defer data-domain="spyglass.fyi" src="https://plausible.io/js/script.js"></script>
  </head>

  <body class="flex flex-col h-auto w-full">
    <!-- Navigation -->
    <nav
      class="font-montserrat flex flex-row justify-between px-8 py-6 md:px-16 lg:px-32 2xl:px-64 w-full content-center bg-secondary align-middle items-center"
    >
      <div class="flex items-center">
        <a href="/"><img src="{{ get_url(path='img/spyglass-logo.svg') }}" alt="Logo" class="h-14" /></a>
      </div>
      <ul class="items-center hidden md:flex flex-row gap-2">
        <li class="mx-3">
          <a href="https://lenses.spyglass.fyi" class="hover:text-cyan-600">Lenses</a>
        </li>
        <li class="mx-3">
          <a href="https://blog.spyglass.fyi" class="hover:text-cyan-600">Blog</a>
        </li>
        <li class="mx-3">
          <a href="https://github.com/spyglass-search/spyglass" class="hover:text-cyan-600">
            Desktop
          </a>
        </li>
        <li class="mx-3">
          <a href="https://github.com/spyglass-search/spyglass">
            <img src="https://img.shields.io/github/stars/spyglass-search/spyglass?style=social" />
          </a>
        </li>
      </ul>
      <div class="hidden md:inline-block">
        <a
          href="https://search.spyglass.fyi"
          class="py-2 px-2 text-white bg-cyan-600 border-2 border-cyan-600 rounded-lg hover:bg-white hover:text-black flex flex-row gap-2 items-center"
        >
          <span>Start Searching</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </a>
      </div>
      <div id="showMenu" class="md:hidden mt-4 mr-8">
        <img src="{{ get_url(path='img/logos/Menu.svg') }}" alt="Menu icon" />
      </div>
    </nav>
    <div
      id="mobileNav"
      class="hidden px-4 py-6 fixed top-0 left-0 h-full w-full bg-secondary z-20 animate-fade-in-down"
    >
      <div id="hideMenu" class="flex justify-end">
        <img src="{{ get_url(path='img/logos/Cross.svg') }}" alt="" class="h-16 w-16" />
      </div>
      <ul
        class="font-montserrat flex flex-col mx-8 my-24 items-center text-3xl"
      >
        <li class="my-6">
          <a href="https://lenses.spyglass.fyi" class="nav-link">Lenses</a>
        </li>
        <li class="my-6">
          <a href="https://blog.spyglass.fyi" class="nav-link">Blog</a>
        </li>
        <li class="my-6">
          <a href="https://github.com/spyglass-search/spyglass" class="nav-link">Desktop Search</a>
        </li>
        <li>
          <a
            href="https://search.spyglass.fyi"
            class="py-2 px-4 text-white bg-cyan-600 border-2 border-cyan-600 rounded-lg hover:bg-white hover:text-black flex flex-row gap-2 items-center"
          >
            <span>Start Searching</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bg-secondary">
    {% block content %}
    {% endblock content %}
    </div>
    <!-- Footer -->
    <section
      class="bg-cyan-800 lg:px-48 md:px-12 px-4 py-8 flex flex-col items-center gap-2 text-cyan-600 border-t-8 border-cyan-600"
    >
      <div>
        <img src="{{ get_url(path='img/spyglass-icon.svg') }}" alt="Logo" class="h-10" />
      </div>
      <div class="text-xs flex flex-row gap-4">
        <a href="/privacy" class="text-cyan-400 hover:text-white">Privacy Policy</a>
        <a href="/tos" class="text-cyan-400 hover:text-white">Terms of Service</a>
      </div>
      <div class="font-montserrat text-xs">
        &copy; 2023 Spyglass Search Inc. All rights reserved
      </div>
    </section>
  </body>
</html>
