<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <title>Spyglass Search - Search your personal cloud & internet.</title>

    <link rel="short icon" type="image/x-icon"  href="{{ get_url(path='img/favicon.png') }}" />
    <link rel="alternate icon" type="image/png" href="{{ get_url(path='img/favicon.png') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='img/favicon.svg') }}" />

    <link rel="stylesheet" href="{{ get_url(path='css/styles.css') }}" />
    <script src="{{ get_url(path='js/script.js') }}"></script>
  </head>

  <body class="flex flex-col h-auto w-screen">
    <!-- Navigation -->
    <nav
      class="font-montserrat flex justify-between py-6 w-full lg:px-48 md:px-12 px-4 content-center bg-secondary align-middle"
    >
      <div class="flex items-center">
        <a href="/"><img src="{{ get_url(path='img/spyglass-logo.svg') }}" alt="Logo" class="h-14" /></a>
      </div>
      <ul class="items-center hidden md:flex">
        <li class="mx-3">
          <a href="https://blog.spyglass.fyi" class="hover:text-cyan-600">Blog</a>
        </li>
        <li class="mx-3">
          <a href="#features" class="hover:text-cyan-600">Features</a>
        </li>
        <li class="mx-3">
          <a href="#pricing" class="hover:text-cyan-600">Pricing</a>
        </li>
        <li class="mx-3">
          <a href="https://github.com/a5huynh/spyglass">
            <img src="https://img.shields.io/github/stars/a5huynh/spyglass?label=Star%20us%20on%20GitHub&style=social" />
          </a>
        </li>
      </ul>
      <div class="hidden flex-row md:flex items-center text-sm">
        <a
          href="https://docs.spyglass.fyi/install.html"
          class="py-2 px-4 text-white bg-black rounded-3xl border-2 border-black hover:bg-white hover:text-black"
        >
          Download
        </a>
      </div>
      <div id="showMenu" class="md:hidden mt-4 mr-8">
        <img src="{{ get_url(path='img/logos/Menu.svg') }}" alt="Menu icon" />
      </div>
    </nav>
    <div
      id="mobileNav"
      class="hidden px-4 py-6 fixed top-0 left-0 h-full w-full bg-secondary z-20 animate-fade-in-down"
    >
      <div id="hideMenu" class="flex justify-end">
        <img src="{{ get_url(path='img/logos/Cross.svg') }}" alt="" class="h-16 w-16" />
      </div>
      <ul
        class="font-montserrat flex flex-col mx-8 my-24 items-center text-3xl"
      >
        <li class="my-6">
          <a href="https://blog.spyglass.fyi">Blog</a>
        </li>
        <li class="my-6">
          <a href="#features" class="nav-link">Features</a>
        </li>
        <li class="my-6">
          <a href="#pricing" class="nav-link">Pricing</a>
        </li>
      </ul>
    </div>

    <div class="bg-secondary">
    {% block content %}
    {% endblock content %}
    </div>
    <!-- Footer -->
    <section
      class="bg-black lg:px-48 md:px-12 px-4 py-14 flex flex-col items-center"
    >
      <div class="mb-4">
        <img src="{{ get_url(path='img/spyglass-icon.svg') }}" alt="Logo" class="h-10" />
      </div>
      <div class="text-white font-montserrat text-sm">
        &copy; 2023 Spyglass Search Inc. All rights reserved
      </div>
      <div class="text-sm flex flex-row gap-4 mt-4">
        <a href="/privacy" class="text-white hover:text-cyan-500">Privacy Policy</a>
        <a href="/tos" class="text-white hover:text-cyan-500">Terms of Service</a>
      </div>
    </section>
  </body>
</html>
