{% extends "base.html" %}

{% block content %}
<!-- Hero -->
<section class="mt-16">
  <div class="flex flex-col mx-auto text-center px-12 overflow-hidden">
    <div class="mb-16">
      <h1 class="text-5xl font-bold mb-8">
          Search your corner of the internet.
      </h1>
      <p class="text-lg mb-8">
        Instantly search across all your
          <strong class="text-cyan-500">files</strong>,
          <strong class="text-cyan-500">cloud accounts</strong>, and
          <strong class="text-cyan-500">internet topics</strong>.
      </p>
      <div class="flex flex-col items-center place-content-center">
        <a
          href="https://docs.spyglass.fyi/install.html"
          data-link="download"
          class="py-2 px-4 text-white bg-black rounded-3xl border-2 border-black hover:bg-white hover:text-black"
        >
          Download
        </a>
        <div class="text-xs mt-2 text-gray-500 hover:underline">
          <a href="https://docs.spyglass.fyi/install.html">View all platforms</a>
        </div>
      </div>
    </div>
    <div style="margin-bottom: -128px;">
      <img class="mx-auto shadow-black shadow-2xl" src="{{ get_url(path='img/example.png') }}" width="512">
    </div>
  </div>
</section>

<!-- How it works -->
<section
  class="bg-black text-white lg:px-24 md:px-12 px-4 py-14 flex flex-col items-center"
  id="features"
>
  <div class="md:grid md:grid-cols-3 w-3/4 lg:w-100">
    <div class="flex items-start my-6 mr-10">
      <div>
        <h3 class="font-semibold text-xl mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 inline-block align-text-top"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
            />
          </svg>
          Privacy First
        </h3>
        <p class="text-gray-400 text-sm">
          We never see or copy your docs. Your data lives on your machine.
        </p>
      </div>
    </div>

    <div class="flex items-start my-6 mr-10">
      <div>
        <h3 class="font-semibold text-xl mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 inline-block align-text-top"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
            />
          </svg>
          Lightning Fast
        </h3>
        <p class="text-gray-400 text-sm">
          Designed to find exactly what you need, instantly.
        </p>
      </div>
    </div>

    <div class="flex items-start my-6 mr-10">
      <div>
        <h3 class="font-semibold text-xl mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 inline-block align-text-top"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z"
            />
          </svg>
          Cloud Connected
        </h3>
        <p class="text-gray-400 text-sm">
          Instantly search through all your favorite cloud services.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Pricing -->
<section
  class="py-14 px-4 flex flex-col items-center bg-secondary"
>
  <div>
    <h2
      id="pricing"
      class="text-3xl bg-left-bottom bg-no-repeat pb-8 px-16 bg-100%"
    >
      Pricing
    </h2>
  </div>
  <div class="flex w-full flex-col md:flex-row gap-8 2xl:w-1/2 md:w-3/4 sm:w-auto">
    <div
      class="flex-1 flex flex-col shadow-xl rounded py-5 px-8 m-8 border-2 border-black"
    >
      <h3 class="font-normal text-2xl mb-4">Personal</h3>
      <div
        class="font-bold text-2xl mb-4 bg-gradient-to-r from-rose-400 via-green-400 to-blue-600 inline-block text-transparent bg-clip-text"
      >
        <div>Free!</div>
      </div>

      <div class="flex mb-2">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-4"
        />
        <p class="text-sm">Perfect for a single device.</p>
      </div>
      <div class="flex mb-2">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-4"
        />
        <p class="text-sm">Self-hosted.</p>
      </div>
      <div class="flex mb-6">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-4"
        />
        <p class="text-sm">Full-data privacy.</p>
      </div>

      <a
        href="https://github.com/a5huynh/spyglass/releases"
        class="py-2 px-4 text-white bg-black rounded-3xl text-center border-2 border-black hover:bg-white hover:text-black"
        data-link="download"
      >
        Download
      </a>
    </div>

    <div
      class="flex-1 flex flex-col shadow-xl rounded py-5 px-8 m-8 border-2 border-cyan-500"
    >
      <h3 class="font-normal text-2xl mb-4">Enterprise</h3>
      <div class="font-bold text-2xl mb-4">
        Contact Us
      </div>

      <div class="flex mb-2">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-4"
        />
        <p class="text-sm">Search multiple devices.</p>
      </div>
      <div class="flex mb-2">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-4"
        />
        <p class="text-sm">Built for proprietary data.</p>
      </div>
      <div class="flex mb-6">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-4"
        />
        <p class="text-sm">Run it on your machines.</p>
      </div>

      <a
        href="mailto:enterprise@spyglass.fyi"
        class="py-2 px-4 text-white bg-cyan-500 rounded-3xl text-center border-2 border-cyan-500 hover:bg-white hover:text-black font-bold"
      >
        Contact Us
      </a>
    </div>

    <div
      class="flex-1 flex-col shadow-xl rounded py-5 px-8 my-8 border-2 border-black hidden"
    >
      <h3 class="font-normal text-2xl mb-4">Enterprise</h3>
      <div class="font-bold text-2xl mb-4">
        $50
        <span class="font-normal text-base"> / month</span>
      </div>

      <div class="flex mb-2">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-6"
        />
        <p>Benefit #1</p>
      </div>
      <div class="flex mb-2">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-6"
        />
        <p>Benefit #2</p>
      </div>
      <div class="flex">
        <img
          src="img/logos/CheckedBox.svg"
          alt=""
          class="mr-1 flex-none w-6"
        />
        <p>Benefit #3</p>
      </div>

      <button class="rounded-xl text-lg py-3 mt-4">Choose plan</button>
    </div>
  </div>
</section>

<section
  class="py-14 lg:px-48 md:px-12 px-4 flex flex-col items-center bg-white"
>
  <div class="pb-8 px-16 text-center">
    <h2
      id="signup"
      class="text-3xl bg-left-bottom bg-no-repeat bg-100%"
    >
      Sign-up for our newsletter
    </h2>
    <div class="mt-4 text-sm">
      Not ready to take the dive yet? Learn more about what we're doing with our monthly newsletter!
    </div>
  </div>
  <div>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form
        action="https://fyi.us11.list-manage.com/subscribe/post?u=f6e38ade408bc2e6820931072&amp;id=a4d549940a&amp;f_id=000594e0f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_self"
      >
        <div id="mc_embed_signup_scroll" class="flex flex-col text-center md:flex-row gap-4 content-center">
          <div class="mc-field-group">
            <input
              type="email"
              value=""
              name="EMAIL"
              class="required email rounded-lg"
              id="mce-EMAIL"
              placeholder="name@example.com"
              required
            />
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>
          <div>
            <input
              type="submit"
              value="Subscribe"
              name="subscribe"
              class="text-sm py-2 px-4 text-white bg-black rounded-3xl text-center border-2 border-black hover:bg-white hover:text-black cursor-pointer"
              id="mc-embedded-subscribe"
            />
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_f6e38ade408bc2e6820931072_a4d549940a"
              tabindex="-1"
              value=""
            />
          </div>
        </div>
        <div id="mce-responses">
          <div
            class="response"
            id="mce-error-response"
            style="display: none"
          ></div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none"
          ></div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
</section>
{% endblock %}